<!DOCTYPE html>
<html>
<head>
  <title>Hateful Speech Detection on Youtube</title>
</head>
<body>
  <h1>Hateful Speech Detection on Youtube</h1>
    <form action="/" method="POST">
      <h3>Enter Video link</h3>
      <input type="text" name="user_news" placeholder="Enter Link" required>
      <input type="submit" value="Submit">
    </form>
      <h4>Video Title: {{ video_title }}</h4>
      <h4>Channel Name: {{ channel_name }}</h4>
      <h4>About Video: {{ out1 }}</h4>
      <h4>About Comments: {{ out2 }}</h4>
</body>
</html>